In [1]:
# type fisrt required aargument 

# 2: positional argument 
# 3.keyword argument 
# 4. Default argument

In [7]:
# Requird and positional argument 

def fun(id,name,age):
    print("Details are :",id,name,age)


fun(10,"Deepak",19)

Details are : 10 Deepak 19

In [6]:
 # keyword Argument 

def fun(id,name,age):
    print("Details are :",id,name,age) 


fun(name= "Deepak",age=19,id = 10)

Details are : 10 Deepak 19

In [4]:
# Default Argument 

def fun(id,name,age=20):
    print("Details are :",id,name,age)


fun(10,"Deepak")

Details are : 10 Deepak 20

In [5]:
def fun(id,name,age=20):
    print("Details are :",id,name,age)


fun(10,"Deepak",25)

Details are : 10 Deepak 25

In [8]:
 # keyword Argument 

def fun(id,name,age):
    print("Details are :",id,name,age) 


fun(name= "Deepak",age=19,id = 10)

Details are : 10 Deepak 19

# Variable length argument (args)

In [9]:
def fun(*x):
    print("details are ",x)      # accept value in tuple format    args

fun(10,20,30,"deepak",50)

details are  (10, 20, 30, 'deepak', 50)

In [14]:
# def fun(*x):
#     print("details are ",x)      # accept value in tuple format    args

# fun(10,20,30,name="deepak",50)

# Keyword variable argument  (kwargs)

In [11]:
# accept value in dictionary format        kwargs


def fun(**x):
    print("Details are ",x)


fun(id= 10,name="Ankit",salary = 35000)

Details are  {'id': 10, 'name': 'Ankit', 'salary': 35000}

In [12]:
def fun(**x):
    print("Details are ",x)


fun(id= 10,name="Ankit")

Details are  {'id': 10, 'name': 'Ankit'}

0# Q : what is the diffrence between *args and **kwargs ?

In [19]:
# 3 sum leet code #15

nums = [-1,0,1,2,-1,-4]
mylist  = []
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if(nums[i] + nums[j] + nums[k] == 0 and i!=j and i!=k and j!=k):
                if([nums[i] ,nums[j],nums[k]] not in mylist):
                    mylist.append([nums[i] ,nums[j],nums[k]])
print(mylist)

[[-1, 0, 1], [-1, 2, -1], [0, 1, -1]]

In [39]:
# nums = [-1,0,1,2,-1,-4]
nums = [-4,-1,-1,0,1,2]

for i in range(0,len(nums)-2):
    j = i+1
    k = len(nums)-1
    while(j<k):
        if(nums[i] + nums[j] + nums[k] == 0):
            # print(i,j,k)
            print([nums[i],nums[j],nums[k]])
            j+=1
            break
        elif((nums[i] + nums[j] + nums[k]>0)):
            k-=1
        else:
            j+=1

[-1, -1, 2]
[-1, 0, 1]

In [29]:
# nums = [-1,0,1,2,-1,-4]

nums = [-4,-1,-1,0,1,2]
myset  = set()

for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if(nums[i] + nums[j] + nums[k] == 0 and i!=j and i!=k and j!=k):
                    # myset.add((nums[i] ,nums[j],nums[k]))
                    myset.add((i ,j,k))


print(myset)

{(-1, 0, 1), (-1, -1, 2)}

In [41]:


nums = [-4,-1,-1,0,1,2]
myset  = set()

for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if(nums[i] + nums[j] + nums[k] == 0 ):
                    # myset.add((nums[i] ,nums[j],nums[k]))
                    myset.add((i ,j,k))


print(myset)

{(1, 3, 4), (2, 3, 4), (1, 2, 5)}