In [3]:
x,y,z = (10,"Deepak",20)

print(x)
print(y)
print(z)

10
Deepak
20

In [7]:
# find duplicate

# SETS

In [8]:
# set is a mmutable but set element are immutable 
#

In [5]:
myset  = set({})

myset = {1,2,3,4,6,55,43,2,3,5,9}

print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 9, 43, 55}
<class 'set'>

In [9]:
myset.add(100) # add value 

print(myset)

{1, 2, 3, 4, 5, 6, 100, 9, 43, 55}

In [10]:
# update() = > add multiple item

In [11]:
myset.update("hey")      
print(myset)

{1, 2, 3, 4, 5, 6, 100, 'y', 9, 43, 55, 'e', 'h'}

In [13]:
myset.update(["Hello",1000])         # accept iterabels 

print(myset)

{1, 2, 3, 4, 5, 6, 100, 'y', 9, 'Hello', 43, 1000, 55, 'e', 'h'}

In [14]:
myset.update("hey")
print(myset)

{1, 2, 3, 4, 5, 6, 100, 'y', 9, 'Hello', 43, 1000, 55, 'e', 'h'}

In [15]:
# remove => error deta h 
# discard => error nhi deta h

# Learn

In [16]:
#  LEARN
# diffrence method implement 
# intersection update 
# issuper set 
# symatric diffrence

In [20]:
# valid anagram

a=  "anagram"
b ="gramana"

dicta = {}
dictb = {}

for i in a:
    if i not in dicta:
        dicta[i] = 1
    else:
        dicta[i] = dicta[i] +1

for i in b:
    if i not in dictb:
        dictb[i] = 1
    else:
        dictb[i] = dictb[i] +1

print(dicta)
print(dictb)

if(dicta==dictb):
    print("Anagram")
else:
    print("Not anagram")

{'a': 3, 'n': 1, 'g': 1, 'r': 1, 'm': 1}
{'g': 1, 'r': 1, 'a': 3, 'm': 1, 'n': 1}
Anagram

# ISOMORPHIC LEET CODE

In [1]:
s = "pep" 
y= "ziz"

s_dict = {}
y_dict = {}

x = 0

if(len(s)==len(y)):
    for i in range(0,len(s)):


        if( s[i] in s_dict and s_dict[s[i]] != y[i] ):
            x = 1
            break
        
        s_dict[ s[i] ] =  y[i]
        # y_dict[[y[i]] = s[i]

else:
    x = 1
    

print(s_dict)

if(x==0):
    print("Isomorphic")
else:
    print("Not")

{'p': 'z', 'e': 'i'}
Isomorphic

In [1]:
#  LEARN
# diffrence method implement 
# intersection update 
# issuper set 
# symatric diffrence

In [2]:
a={12,34,45,56,23,787,89}
b={12,34,45,56}
print(a-b)
print(a.difference(b))            #diffrenceate : means  Elements that present in set  a not in  set b 

print(a)
# print(b)
a.difference_update(b)
print(a)
print(b)

{89, 787, 23}
{89, 787, 23}
{34, 787, 23, 56, 89, 12, 45}
{787, 23, 89}
{56, 34, 12, 45}

In [5]:
a={12,34,45,56,23}
b={12,34,45,56,787,89}
print(a.intersection(b))
a.intersection_update(b)
print(a)
print(a&b )          #  & => intersection 

print(a|b)       # | =>union

{56, 34, 12, 45}
{56, 34, 12, 45}
{56, 34, 12, 45}
{34, 12, 45, 787, 56, 89}

In [9]:
a={12,45,34}
b={12,45}
print(a.issuperset(b))
print(a.issubset(b))

True
False

In [21]:
a={12,45,22}
b={12,45,34}
print(a.symmetric_difference(b))

{34, 22}