# Oops - Object-Oriented Programming

# task1:
* create a parameter class.
* Add methods for addition, subtraction, multiplication, and division.* 
Use the self parameter to access the numbers.

In [2]:
class Calculator:

    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return f"Total : {self.num1 + self.num2}"

    def subtract(self):
        return f"Subtract : {self.num1 - self.num2}"

    def multiply(self):
        return f"multiply : {self.num1 * self.num2}"

    def divide(self):
        if self.num2 != 0:
            return f"divide : {self.num1 / self.num2}"
        else:
            return "Division by zero is not allowed!"

cal = Calculator(10,2)
print(cal.add())
print(cal.subtract())
print(cal.multiply())
print(cal.divide())

Total : 12
Subtract : 8
multiply : 20
divide : 5.0

# task2 : create a Bank account class
* define a bankaccount class
* add attributes for account holder name and balance
* add methods to deposit, withdraw, check balance

In [21]:
class BankAccount:

    def __init__(self, holder_name, balance=0):
        self.holder_name = holder_name
        self.balance = balance

    def deposit(self):
        money = int(input("Enter the deposit money :"))
        print(f"Before Total Balance : {self.balance}")
        self.balance = self.balance + money
        return f"Total Balance : {self.balance}"

    def withdraw(self):
        money = int(input("Enter the withdraw money :"))
        print(f"Before Total Balance : {self.balance}")
        if self.balance>=money:
            self.balance = self.balance - money
            return f"After Total Balance : {self.balance}"
        else:
            print("Insufficient balance")

    def check_balance(self):
        return f"Total Balance : {self.balance}"

bank = BankAccount("khemraj",1200)

In [22]:
print(bank.deposit())

Enter the deposit money : 500

Before Total Balance : 1200
Total Balance : 1700

In [23]:
print(bank.withdraw())

Enter the withdraw money : 300

Before Total Balance : 1700
After Total Balance : 1400

In [24]:
print(bank.check_balance())

Total Balance : 1400

In [25]:
print(bank.withdraw())

Enter the withdraw money : 4000

Before Total Balance : 1400
Insufficient balance
None

# task3 :  create a student class
* define a student class with attributes like name, age and marks
* add a method to display the student details
* add a method to check is the student passed marks>=40

In [36]:
class Student:

    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

    def display(self):
        print("STUDENT NAME :",self.name)
        print("STUDENT AGE :",self.age)
        print("STUDENT MARKS :",self.marks)

    def check(self):
        if self.marks>=40:
            return f"{self.name} is pass!"
        else:
            return f"{self.name} is Fail!"

std = Student("khemraj", 19, 36)

In [37]:
std.display()

STUDENT NAME : khemraj
STUDENT AGE : 19
STUDENT MARKS : 36

In [38]:
std.check()

'khemraj is Fail!'

# task4: Create a Library System
* Define a Book class with attributes like title, author, and availability.
* Add methods to check availability and borrow/return the book.

In [50]:
mydict = {
    "physics" : [1,True],
    "chemistry" : [2,True],
    "biology" : [5,True]
}

In [56]:
class Book:

    def book_info(self):
        book_name = input("Enter the book name :")
        if book_name in mydict:
            print(f"Number of book present in library : {mydict[book_name][0]}")
        else:
            print(f"{book_name} book is not available!")
        print(mydict)
        
    def borrow_book(self):
        book_name = input("Enter the borrow book name :")
        if book_name in mydict:
            if mydict[book_name][1]:
                    print(f"you borrow {book_name} book successful!")
                    mydict[book_name][0] = mydict[book_name][0]-1
                    if mydict[book_name][0]==0:
                        mydict[book_name][1] = False
        else:
            print(f"{book_name} book is not available!")
        print(mydict)

    def return_book(self):
        book_name = input("Enter the return book name :")
        if book_name in mydict:
            mydict[book_name][0] = mydict[book_name][0] + 1
            mydict[book_name][1] = True
            print(f"you return {book_name} book successful!")
        else:
            mydict[book_name] = [1,True]
            print(f"you return {book_name} book successful!")
        print(mydict)

book1 = Book()

In [57]:
book1.book_info()

Enter the book name : biology

Number of book present in library : 5
{'physics': [1, True], 'chemistry': [2, True], 'biology': [5, True], 'MySQL': [1, True]}

In [58]:
book1.book_info()

Enter the book name : Advance python

Advance python book is not available!
{'physics': [1, True], 'chemistry': [2, True], 'biology': [5, True], 'MySQL': [1, True]}

In [52]:
book1.borrow_book()

Enter the borrow book name : biology

you borrow biology book successful!
{'physics': [1, True], 'chemistry': [2, True], 'biology': [4, True]}

In [53]:
book1.borrow_book()

Enter the borrow book name : PYTHON

physics book is not available!
{'physics': [1, True], 'chemistry': [2, True], 'biology': [4, True]}

In [54]:
book1.return_book()

Enter the return book name : biology

you return biology book successful!
{'physics': [1, True], 'chemistry': [2, True], 'biology': [5, True]}

In [55]:
book1.return_book()

Enter the return book name : MySQL

you return MySQL book successful!
{'physics': [1, True], 'chemistry': [2, True], 'biology': [5, True], 'MySQL': [1, True]}